@model CinemaTicketsBookingSystem.Models.ShoppingCart

@{
    ViewData["Title"] = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="ItemId" />
    <div class="card-header bg-dark text-light row">
        <div class="col-12 col-md-12">
            <h3 class="text-primary">@Model.Item.Movie.Title</h3>
            <p class="text-muted">@Model.Item.Movie.ReleaseYear</p>
            <p class="text-light">by @Model.Item.Movie.Director</p>
        </div>
    </div>
    <div class="card-body">
        <div class="rounded">
            <div class="row">
                <div class="col-8 col-lg-8 col-resp">
                    <div class="row pl-2">
                        <h6 class="text-muted pb-2">Cinema Hall: <span class="text-light">@Model.Item.CinemaHall.Name</span></h6>
                    </div>
                    <div class="row pl-2">
                        <h6 class="text-muted pb-2">Starting Time: <span class="text-light">@Model.Item.Time.ToString("HH:mm")</span></h6>
                    </div>
                    <div class="row pl-2">
                        <h6 class="text-muted pb-2">Price: <span class="text-light">@Model.Item.TicketPrice.ToString("C")</span></h6>
                    </div>
                    <div class="row pl-2">
                        <p class="text-muted" style="margin: 25px 0">@Model.Item.Movie.Plot</p>
                    </div>
                    <div class="row pl-2">
                        <div class="col-2 text-primary input-resp"><h4>Count</h4></div>
                        <div class="col-2 input-resp">
                            <select class="form-control" asp-for="Count" onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1;' this.blur();>
                                @{
                                    var maxTickets = (Model.Item.TicketsAvailable < 12) ? Model.Item.TicketsAvailable : 12;
                                }
                                @for (int i = 1; i <= maxTickets; i++)
                                {
                                    <option>@i</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Count" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-lg-3 offset-lg-1 text-center">
                    <img class="table-img rounded" src="@Url.Content(@Model.Item.Movie.PosterUrl)" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-12 col-md-6 pb-1">
                <a asp-action="Index" class="btn btn-success form-control  btn-square btn-lg" style="height:50px;">Back to List</a>
            </div>
            <div class="col-12 col-md-6 pb-1">
                <button type="submit" value="Add to Cart" class="btn btn-primary btn-square btn-lg form-control" style="height:50px;">Add to &nbsp;<i class="fas fa-shopping-cart"></i></button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
