@model IEnumerable<CinemaTicketsBookingSystem.Models.Showtime>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Count() > 0)
{
    <div class="text-center m-4">
        <h4 class="text-info text-uppercase"><span class="text-light">Showtimes on: </span>@DateTime.Now.ToString("MMMM dd yyyy")</h4>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-outline-info">Sort By</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                    <a asp-action="Index" asp-route-sortby="priceAsc" class="dropdown-item">Price: &uarr;</a>
                    <a asp-action="Index" asp-route-sortby="priceDesc" class="dropdown-item">Price: &darr;</a>
                    <a asp-action="Index" asp-route-sortby="startingTimeAsc" class="dropdown-item">Starting Time: &#8635;</a>
                    <a asp-action="Index" asp-route-sortby="startingTimeDesc" class="dropdown-item">Starting Time: &#8634;</a>
                    <a asp-action="Index" asp-route-sortby="ticketsLeftAsc" class="dropdown-item">Tickets Left: &uarr;</a>
                    <a asp-action="Index" asp-route-sortby="ticketsLeftDesc" class="dropdown-item">Tickets Left: &darr;</a>
                    <a asp-action="Index" asp-route-sortby="durationAsc" class="dropdown-item">Duration: &uarr;</a>
                    <a asp-action="Index" asp-route-sortby="durationDesc" class="dropdown-item">Duration: &darr;</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-hover table-responsive-md text-light">
        <tbody>
            @foreach (var showtime in Model)
            {
                <tr id="showtime">
                    <th scope="row"><img src="@Url.Content(showtime.Movie.PosterUrl)" class="table-img rounded" /></th>
                    <td>
                        <h4>@showtime.Movie.Title</h4>
                        <br />
                        <dl>
                            <dd>@showtime.Movie.ReleaseYear</dd>
                            <dd>@showtime.Movie.Director</dd>
                            <dd>
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@showtime.Movie.Id" class="btn btn-outline-info">Read More</a> &nbsp;
                                @if (showtime.TicketsAvailable > 0)
                                {
                                    <a asp-controller="Showtimes" asp-action="Buy" asp-route-id="@showtime.Id" class="btn btn-outline-warning">Buy Ticket</a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-danger text-danger">Sold Out</a>
                                }
                            </dd>
                        </dl>
                    </td>
                    <td>
                        <h4 class="text-muted">@showtime.CinemaHall.Name</h4>
                        <br />
                        <dl>
                            <dd><span class="text-muted">Starting Time: </span>@showtime.Time.ToString("HH:mm")</dd>
                            <dd><span class="text-muted">Duration: </span>@showtime.Movie.Duration.ToString("h'h 'mm'min'")</dd>
                            <dd><span class="text-muted">Price: </span>@showtime.TicketPrice.ToString("C")</dd>
                            <dd><span class="text-muted">Tickets left: </span>@showtime.TicketsAvailable</dd>
                        </dl>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div><h3 class="text-info">No showtimes found</h3></div>
    <div><p class="text-light">Sorry, no showtimes for this movie today.</p></div>
    <div><a asp-controller="Showtimes" asp-action="Index" asp-route-id="@null" class="btn btn-outline-info">Check what's on today</a></div>
}

