@model CinemaTicketsBookingSystem.Models.ShoppingCartViewModel 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}    

    <form method="post">
        <br />
        <div class="card-header bg-dark text-light row">
            <div class="col-6">
                <h5><i class="fa fa-shopping-cart"></i> &nbsp; <span class="h-resp">Your Shopping Cart</span></h5>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="Showtimes" asp-action="Index" class="btn btn-outline-info">Continue Shopping</a>
            </div>
        </div>
        @if (Model.ShoppingCarts.Count() > 0)
        {
            <div class="card-body">
                @foreach (var item in Model.ShoppingCarts)
                {
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-1 text-center py-2">
                            <img src="@Url.Content(item.Item.Movie.PosterUrl)" class="rounded" width="100%" />
                        </div>
                        <div class="col-12 text-sm-center col-lg-6 text-lg-left">
                            <h5 class="text-light"><strong>@item.Item.Movie.Title</strong><span class="text-muted font-weight-light"> (@item.Item.Movie.ReleaseYear)</span></h5>
                            <p class="text-muted">by <span class="text-light">@item.Item.Movie.Director</span></p>
                            <p class="text-muted">Cinema Hall: <span class="text-light">@item.Item.CinemaHall.Name</span></p>
                            <p class="text-muted">Time: <span class="text-light">@item.Item.Time.ToString("HH:mm")</span></p>
                        </div>
                        <div class="col-12 text-sm-left col-lg-5 text-lg-left row">
                            <div class="col-6 col-sm-6 text-md-left" style="padding-top:5px;">
                                <h6><strong class="text-light">@item.Item.TicketPrice.ToString("C")<span class="text-muted"> x </span>@item.Count</strong></h6>
                                @if (@item.Count == 12)
                                {
                                    <p class="text-danger text-sm-left">Note: 12 is max</p>
                                }
                            </div>
                            <div class="col-4 col-sm-4">
                                <div class="float-right mx-1">
                                    <a asp-action="Plus" asp-route-cartId="@item.Id" class="btn btn-outline-info" title="Note: Max 12 tickets per showtime">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                                <div class="float-right mx-1">
                                    <a asp-action="Minus" asp-route-cartId="@item.Id" class="btn btn-outline-warning" title="Note: Min 1 ticket per showtime">
                                        <i class="fas fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-2 col-lg-2 text-right">
                                <a asp-action="Remove" asp-route-cartId="@item.Id" class="btn btn-outline-danger">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                        <div class="bg-dark list-group-item d-flex justify-content-between">
                            <span class="text-info">Total</span>
                            <strong class="text-info">$ <span id="txtOrderTotal">@Model.PurchaseHeader.TotalAmount.ToString("C")</span></strong>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                        <a asp-controller="ShoppingCarts" asp-action="Checkout" class="btn btn-success form-control btn-lg">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p class="text-light p-4">Your Shopping Cart is empty</p>
        }
    </form>
